@model Music_portal.Models.Genre

@{
    ViewData["Title"] = "CreateGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="name">Add genre:</div>
    <div>
        <div class="col-md-4">
            <form asp-action="CreateGenre" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label labl"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />
                <div style=" display:flex">
                    <div class=" but">
                        <input class ="sub" type="submit" value="Save" />
                    </div>
                    <div class="but">
                        <a asp-action="Genres" style="color:ghostwhite; text-decoration:none">Back to the list</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
   

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
