@model Music_portal.Models.User

@{
    ViewData["Title"] = "DeleteUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="name">@Resources.Resource.DeleteUser:</div>

<h3 class="del">@Resources.Resource.DeleteUsConfirm</h3>
<br />
<div>
    <h4 class="del">User:</h4>
        <div class = "del">
            @Html.DisplayFor(model => model.Login)
        </div>
    <br />
    <form asp-action="DeleteUser">
        <input type="hidden" asp-for="Id" />        
        <div style=" display:flex">
            <div class=" but">
                <input class="sub" type="submit" value="Delete" />
            </div>
            <div class="but">
                <a asp-action="NewUsers" class="link">Back to the list</a>
            </div>
        </div>    
    </form>
</div>
