@model IEnumerable<Music_portal.Models.Singer>

@{
    ViewData["Title"] = "Singers";
}
<div class="name"><span>Singers</span></div>
<hr />

    <div class="but">
        <a class="link" asp-controller="Singer" asp-action="CreateSinger">Add Singer</a>
    </div>

<div class="text-center">
    <table class="table" style="width: 500px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                        <td>
                            <a asp-action="EditSinger" asp-route-id="@item.Id" class="link">Edit</a> |
                            <a asp-action="DeleteSinger" asp-route-id="@item.Id" class="link">Delete</a>
                        </td>
                </tr> 
            }
        }
        </tbody>
    </table>
</div>
<div class="but" style=" margin-left: 330px;">
    <a asp-controller="Home" asp-action="Index" class="link">Back to list of songs</a>
</div>
